Logos/KPIS/NovaVersao/Sistecno.UI.Web/Web References/CentralWssLogos/wsExecutarComado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecSql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comando" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecSqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecSqlResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecSqlSoapIn">
    <wsdl:part name="parameters" element="tns:ExecSql" />
  </wsdl:message>
  <wsdl:message name="ExecSqlSoapOut">
    <wsdl:part name="parameters" element="tns:ExecSqlResponse" />
  </wsdl:message>
  <wsdl:portType name="wsExecutarComadoSoap">
    <wsdl:operation name="ExecSql">
      <wsdl:input message="tns:ExecSqlSoapIn" />
      <wsdl:output message="tns:ExecSqlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsExecutarComadoSoap" type="tns:wsExecutarComadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecSql">
      <soap:operation soapAction="http://tempuri.org/ExecSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsExecutarComadoSoap12" type="tns:wsExecutarComadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecSql">
      <soap12:operation soapAction="http://tempuri.org/ExecSql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsExecutarComado">
    <wsdl:port name="wsExecutarComadoSoap" binding="tns:wsExecutarComadoSoap">
      <soap:address location="http://www.grupologos.com.br/wss/wsExecutarComado.asmx" />
    </wsdl:port>
    <wsdl:port name="wsExecutarComadoSoap12" binding="tns:wsExecutarComadoSoap12">
      <soap12:address location="http://www.grupologos.com.br/wss/wsExecutarComado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>