RoboDeEmails/EnvioDeRota/Web References/br.com.comprovei.soap/WS012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PosicaoType">
    <xs:sequence>
      <xs:element name="Latitude" type="xs:decimal" />
      <xs:element name="Longitude" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CNHType">
    <xs:sequence>
      <xs:element name="Numero" type="xs:string" />
      <xs:element name="Vencimento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoteType">
    <xs:sequence>
      <xs:element name="CodFabricante">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\S+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NomeFabricante">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\S+" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DataFabricacao">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DataValidade">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CodAnvisa">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13}|ISENTO" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="codigo" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\S+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CamposLivresType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampoLivre1" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre2" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre3" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre4" type="xs:string" />
      <xs:element minOccurs="0" name="CampoLivre5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rotas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Rota">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="rotadestino" type="xs:string" />
              <xs:element minOccurs="0" name="rotanome" type="xs:string" />
              <xs:element name="Data" type="xs:string" />
              <xs:element minOccurs="0" name="Regiao" type="xs:string" />
              <xs:element name="Transportadora">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Codigo" type="xs:string" />
                    <xs:element name="Razao" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Motorista">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Usuario" type="xs:string" />
                    <xs:element name="PlacaVeiculo" type="xs:string" />
                    <xs:element minOccurs="0" name="TipoVeiculo" type="xs:string" />
                    <xs:element minOccurs="0" name="Nome" type="xs:string" />
                    <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                    <xs:element minOccurs="0" name="CNH" type="CNHType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Base">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Origem">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nome" type="xs:string" />
                          <xs:element name="Rua" type="xs:string" />
                          <xs:element default="0" name="Numero" type="xs:integer" />
                          <xs:element name="Complemento" type="xs:string" />
                          <xs:element name="Bairro" type="xs:string" />
                          <xs:element name="Cidade" type="xs:string" />
                          <xs:element name="Estado" type="xs:string" />
                          <xs:element name="CEP" type="xs:string" />
                          <xs:element name="Pais" type="xs:string" />
                          <xs:element minOccurs="0" name="Contato" type="xs:string" />
                          <xs:element minOccurs="0" name="Email" type="xs:string" />
                          <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                          <xs:element minOccurs="0" name="Cnpj">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d*|\s{0}" />
                                <xs:maxLength value="14" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CnpjMatriz">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d*|\s{0}" />
                                <xs:maxLength value="14" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TipoMatriz">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="courier" />
                                <xs:enumeration value="shipper" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                          <xs:element minOccurs="0" name="Posicao" type="PosicaoType" />
                        </xs:sequence>
                        <xs:attribute name="codigo" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Destino">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nome" type="xs:string" />
                          <xs:element name="Rua" type="xs:string" />
                          <xs:element default="0" name="Numero" type="xs:integer" />
                          <xs:element name="Complemento" type="xs:string" />
                          <xs:element name="Bairro" type="xs:string" />
                          <xs:element name="Cidade" type="xs:string" />
                          <xs:element name="Estado" type="xs:string" />
                          <xs:element name="CEP" type="xs:string" />
                          <xs:element name="Pais" type="xs:string" />
                          <xs:element minOccurs="0" name="Contato" type="xs:string" />
                          <xs:element minOccurs="0" name="Email" type="xs:string" />
                          <xs:element minOccurs="0" name="Telefone" type="xs:string" />
                          <xs:element minOccurs="0" name="Cnpj">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d*|\s{0}" />
                                <xs:maxLength value="14" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CnpjMatriz">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:pattern value="\d*|\s{0}" />
                                <xs:maxLength value="14" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TipoMatriz">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="courier" />
                                <xs:enumeration value="shipper" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element minOccurs="0" name="CodigoIBGE" type="xs:string" />
                          <xs:element minOccurs="0" name="Posicao" type="PosicaoType" />
                        </xs:sequence>
                        <xs:attribute name="codigo" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="limites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="inicio" type="xs:string" />
                    <xs:element minOccurs="0" name="fim" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TipoRota">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="D" />
                    <xs:enumeration value="T" />
                    <xs:enumeration value="P" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="TipoMaterial" type="xs:string" />
              <xs:element minOccurs="0" name="Fornecimento" type="xs:string" />
              <xs:element minOccurs="0" name="TipoFrete" type="xs:string" />
              <xs:element minOccurs="0" name="Modal" type="xs:string" />
              <xs:element minOccurs="0" name="CamposLivres" type="CamposLivresType" />
              <xs:element name="Paradas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Parada">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Documento">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ChaveNota" type="xs:string" />
                                <xs:element minOccurs="0" name="Agendamento" type="xs:string" />
                                <xs:element minOccurs="0" name="Itinerario">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ChaveUnica">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="Codigo">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element minOccurs="0" name="Descricao" type="xs:string" />
                                      <xs:element minOccurs="0" name="CodigoDeBarras" type="xs:string" />
                                      <xs:element minOccurs="0" name="Data" type="xs:string" />
                                      <xs:element minOccurs="0" name="Turno" type="xs:string" />
                                      <xs:element minOccurs="0" name="Prioridade" type="xs:string" />
                                      <xs:element minOccurs="0" name="Tipo" type="xs:string" />
                                      <xs:element minOccurs="0" name="PontoTransbordo1" type="xs:string" />
                                      <xs:element minOccurs="0" name="CnpjTransportador1" type="xs:string" />
                                      <xs:element minOccurs="0" name="NomeTransportador1" type="xs:string" />
                                      <xs:element minOccurs="0" name="Filial" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="numero" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="numero" type="xs:string" use="required" />
            <xs:attribute name="replicate" type="xs:integer" />
            <xs:attribute name="owner" type="xs:integer" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>