RoboDeEmails/Robo.Email.Notas.Solutions.Windows/Service References/RiachieloServ/CTe16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" />
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" />
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SGT.WebService" />
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" />
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://riachuelo.multiembarcador.com.br/SGT.WebService/CTe.svc?xsd=xsd18" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="BuscarAverbacaoCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q1:Protocolos" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q2:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAverbacaoCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarAverbacaoCTesResult" nillable="true" type="q3:RetornoOfPaginacaoOfCTeAverbacaopIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q4:Protocolos" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q5:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesResult" nillable="true" type="q6:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloIntegracaoCarga" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q7:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorCargaResult" nillable="true" type="q8:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorBoleto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nossoNumeroBoleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroBanco" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q9:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorBoletoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorBoletoResult" nillable="true" type="q10:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q11:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="codigoTipoOperacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesPorPeriodoResult" nillable="true" type="q12:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresAguardandoIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q13:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="codificarUTF8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesComplementaresAguardandoIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesComplementaresAguardandoIntegracaoResult" nillable="true" type="q14:RetornoOfPaginacaoOfCTeComplementarpIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCTeComplementarResult" nillable="true" type="q15:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCCe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.CTe" minOccurs="0" name="camposCCe" nillable="true" type="q16:CamposCCe" />
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarCCeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="GerarCCeResult" nillable="true" type="q17:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCTeComplementar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarRecebimentoCancelamentoCTeComplementarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarRecebimentoCancelamentoCTeComplementarResult" nillable="true" type="q18:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q19:TipoDocumentoRetorno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTePorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTePorProtocoloResult" nillable="true" type="q20:RetornoOfCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarPrevisaoPagamentoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataPrevisaoPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarPrevisaoPagamentoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="InformarPrevisaoPagamentoCTeResult" nillable="true" type="q21:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPagamentoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarPagamentoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarPagamentoCTeResult" nillable="true" type="q22:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarProtocoloCTesCanceladosAguardandoConfirmacaoConsultaResult" nillable="true" type="q23:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulosPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarTitulosPorPeriodoResult" nillable="true" type="q24:RetornoOfPaginacaoOfTitulopIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTeCanceladoPorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="statusCTe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTeCanceladoPorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTeCanceladoPorProtocoloResult" nillable="true" type="q25:RetornoOfCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaCTeCancelado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarConsultaCTeCanceladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarConsultaCTeCanceladoResult" nillable="true" type="q26:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOutrosDocsPorPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataFinal" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q27:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOutrosDocsPorPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarOutrosDocsPorPeriodoResult" nillable="true" type="q28:RetornoOfPaginacaoOfCTepIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturaCTes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.WebService.Carga" minOccurs="0" name="protocolo" nillable="true" type="q29:Protocolos" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio.ObjetosDeValor.Embarcador.Enumeradores" minOccurs="0" name="tipoDocumentoRetorno" type="q30:TipoDocumentoRetorno" />
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturaCTesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarFaturaCTesResult" nillable="true" type="q31:RetornoOfPaginacaoOfCTeFaturapIzbOyUQ51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTitulo" type="xs:int" />
        <xs:element minOccurs="0" name="dataPagamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarTituloCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="QuitarTituloCTeResult" nillable="true" type="q32:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturasCTePorProtocolo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFaturasCTePorProtocoloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarFaturasCTePorProtocoloResult" nillable="true" type="q33:RetornoOfFaturasCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotaFiscal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chaveNFe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNotaFiscalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarNotaFiscalResult" nillable="true" type="q34:RetornoOfDocumentosCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesFaturadosPendenteDeIntegracao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inicio" type="xs:int" />
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCTesFaturadosPendenteDeIntegracaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="BuscarCTesFaturadosPendenteDeIntegracaoResult" nillable="true" type="q35:RetornoOfPaginacaoOfint51p1vPsU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeFaturado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarIntegracaoCTeFaturadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="ConfirmarIntegracaoCTeFaturadoResult" nillable="true" type="q36:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacaoCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="chavesCTe" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacaoCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="VerificarSituacaoCTeResult" nillable="true" type="q38:RetornoOfArrayOfSituacaoCTepIzbOyUQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/Message" name="arquivo" type="q39:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarArquivoXMLCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="EnviarArquivoXMLCTeResult" nillable="true" type="q40:RetornoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCTe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="protocoloCTe" type="xs:int" />
        <xs:element minOccurs="0" name="dataEventoDesacordo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorCTeSustituicao" type="xs:decimal" />
        <xs:element minOccurs="0" name="cnpjTomador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacaoCTeAnulacao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacaoCTeSustituicao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCTeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SGT.WebService" minOccurs="0" name="AnularCTeResult" nillable="true" type="q41:RetornoOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>