Logos/mobile/SistecnoColetor/SistecnoColetor/Web References/br.com.grupologos.www/ReposicaoRoge.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GravarDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoRegiao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeRegiao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClienteEspecial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Volume" type="tns:ArrayOfVolumes" />
            <s:element minOccurs="0" maxOccurs="1" name="Item" type="tns:ArrayOfItens" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVolumes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Volumes" nillable="true" type="tns:Volumes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Volumes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoBarras" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Itens" nillable="true" type="tns:Itens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Itens">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoRoge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItensCodigoBarras" type="tns:ArrayOfCodigoBarras" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCodigoBarras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CodigoBarras" nillable="true" type="tns:CodigoBarras" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CodigoBarras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoDeBarras" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Embalagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmbalagemQuantidade" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GravarDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GravarDocumentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarConferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UsuarioSolicitante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarConferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarConferenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResgatarDocumentoPeloColetor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Chave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResgatarDocumentoPeloColetorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResgatarDocumentoPeloColetorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarConferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dados" type="tns:ArrayOfEstrutura" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEstrutura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Estrutura" nillable="true" type="tns:Estrutura" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estrutura">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VolumeCodigoBarras" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCodigoBarras" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CB_LIDO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GravarConferenciaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GravarDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarDocumento" />
  </wsdl:message>
  <wsdl:message name="GravarDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarConferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarConferencia" />
  </wsdl:message>
  <wsdl:message name="CancelarConferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarConferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="ResgatarDocumentoPeloColetorSoapIn">
    <wsdl:part name="parameters" element="tns:ResgatarDocumentoPeloColetor" />
  </wsdl:message>
  <wsdl:message name="ResgatarDocumentoPeloColetorSoapOut">
    <wsdl:part name="parameters" element="tns:ResgatarDocumentoPeloColetorResponse" />
  </wsdl:message>
  <wsdl:message name="GravarConferenciaSoapIn">
    <wsdl:part name="parameters" element="tns:GravarConferencia" />
  </wsdl:message>
  <wsdl:message name="GravarConferenciaSoapOut">
    <wsdl:part name="parameters" element="tns:GravarConferenciaResponse" />
  </wsdl:message>
  <wsdl:portType name="ReposcicaoRogeSoap">
    <wsdl:operation name="GravarDocumento">
      <wsdl:input message="tns:GravarDocumentoSoapIn" />
      <wsdl:output message="tns:GravarDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarConferencia">
      <wsdl:input message="tns:CancelarConferenciaSoapIn" />
      <wsdl:output message="tns:CancelarConferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResgatarDocumentoPeloColetor">
      <wsdl:input message="tns:ResgatarDocumentoPeloColetorSoapIn" />
      <wsdl:output message="tns:ResgatarDocumentoPeloColetorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravarConferencia">
      <wsdl:input message="tns:GravarConferenciaSoapIn" />
      <wsdl:output message="tns:GravarConferenciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReposcicaoRogeSoap" type="tns:ReposcicaoRogeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarDocumento">
      <soap:operation soapAction="http://tempuri.org/GravarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarConferencia">
      <soap:operation soapAction="http://tempuri.org/CancelarConferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResgatarDocumentoPeloColetor">
      <soap:operation soapAction="http://tempuri.org/ResgatarDocumentoPeloColetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarConferencia">
      <soap:operation soapAction="http://tempuri.org/GravarConferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReposcicaoRogeSoap12" type="tns:ReposcicaoRogeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarDocumento">
      <soap12:operation soapAction="http://tempuri.org/GravarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarConferencia">
      <soap12:operation soapAction="http://tempuri.org/CancelarConferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResgatarDocumentoPeloColetor">
      <soap12:operation soapAction="http://tempuri.org/ResgatarDocumentoPeloColetor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarConferencia">
      <soap12:operation soapAction="http://tempuri.org/GravarConferencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReposcicaoRoge">
    <wsdl:port name="ReposcicaoRogeSoap" binding="tns:ReposcicaoRogeSoap">
      <soap:address location="http://www.grupologos.com.br/wss/WSS/ReposicaoRoge.asmx" />
    </wsdl:port>
    <wsdl:port name="ReposcicaoRogeSoap12" binding="tns:ReposcicaoRogeSoap12">
      <soap12:address location="http://www.grupologos.com.br/wss/WSS/ReposicaoRoge.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>