Compusoft/DbUpdateCompusoft/DbUpdateCompusoft/Web References/TesteWs/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceberPedidos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pedido" type="tns:ArrayOfPedido" />
            <s:element minOccurs="0" maxOccurs="1" name="prod_hom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDePedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CNPJdoCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cliente_CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeDocumento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataDeEmissao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_CNPJCPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_IERG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_RAZAOSOCIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_FANTASIA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENDERECO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_NUMERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_COMPLEMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_BAIRRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_COD_IBGE_CIDADE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_CIDADE_NOME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_ENDERECO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_NUMERO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_COMPLEMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_BAIRRO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_ENTREGA_COD_IBGE_CIDADE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dest_Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataParaEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompraVenda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PeriodoDeEntregaInicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PeriodoDeEntregaFim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="itens" type="tns:ArrayOfItens" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Itens" nillable="true" type="tns:Itens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Itens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoNCM" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorUnitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PesoLiquido" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceberPedidosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceberPedidosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarStatusPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NrPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarStatusPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarStatusPedidoResult" type="tns:RetornoPedidoStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoPedidoStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NrPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Consumido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataHora" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfRetornoPedidoStatusItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRetornoPedidoStatusItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RetornoPedidoStatusItem" nillable="true" type="tns:RetornoPedidoStatusItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RetornoPedidoStatusItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdStatusPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoDoProduto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Estoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstoqueResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceberPedidosSoapIn">
    <wsdl:part name="parameters" element="tns:ReceberPedidos" />
  </wsdl:message>
  <wsdl:message name="ReceberPedidosSoapOut">
    <wsdl:part name="parameters" element="tns:ReceberPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarStatusPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarStatusPedido" />
  </wsdl:message>
  <wsdl:message name="RetornarStatusPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarStatusPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="EstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:Estoque" />
  </wsdl:message>
  <wsdl:message name="EstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:EstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="ReceberPedidos">
      <wsdl:input message="tns:ReceberPedidosSoapIn" />
      <wsdl:output message="tns:ReceberPedidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarStatusPedido">
      <wsdl:input message="tns:RetornarStatusPedidoSoapIn" />
      <wsdl:output message="tns:RetornarStatusPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Estoque">
      <wsdl:input message="tns:EstoqueSoapIn" />
      <wsdl:output message="tns:EstoqueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceberPedidos">
      <soap:operation soapAction="http://tempuri.org/ReceberPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarStatusPedido">
      <soap:operation soapAction="http://tempuri.org/RetornarStatusPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Estoque">
      <soap:operation soapAction="http://tempuri.org/Estoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceberPedidos">
      <soap12:operation soapAction="http://tempuri.org/ReceberPedidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarStatusPedido">
      <soap12:operation soapAction="http://tempuri.org/RetornarStatusPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Estoque">
      <soap12:operation soapAction="http://tempuri.org/Estoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="http://localhost:35040/MaisBrasil/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="http://localhost:35040/MaisBrasil/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>