Logos/mobile/ReposicaoRoge____________________2016/SistecnoColetor/SistecnoColetor/Web References/wsUsuarioEmpresa/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornarEmpresa">
        <s:complexType />
      </s:element>
      <s:element name="RetornarEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarEmpresaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarFilial">
        <s:complexType />
      </s:element>
      <s:element name="RetornarFilialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornarFilialResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDCadastro" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDGrupo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IDPerfil" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimaEmpresa" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimaFilial" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeEmpresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CriaUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Administrador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutoOcultarMenu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LarguraMenu" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlturaFavoritos" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataDeCadastro" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AtivaProtecaoTela" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SenhaValidaAte" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeSistema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorLimite" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirarSenha" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AlterarSenhaNoLogin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Site" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidarUsuarioNoBD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UltimoAcesso" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DadosMaquinaLocal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LogarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogarResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaInformacoesEmpresaLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaInformacoesEmpresaLoginResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornarEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarEmpresa" />
  </wsdl:message>
  <wsdl:message name="RetornarEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarFilialSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarFilial" />
  </wsdl:message>
  <wsdl:message name="RetornarFilialSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarFilialResponse" />
  </wsdl:message>
  <wsdl:message name="LogarSoapIn">
    <wsdl:part name="parameters" element="tns:Logar" />
  </wsdl:message>
  <wsdl:message name="LogarSoapOut">
    <wsdl:part name="parameters" element="tns:LogarResponse" />
  </wsdl:message>
  <wsdl:message name="GravaInformacoesEmpresaLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GravaInformacoesEmpresaLogin" />
  </wsdl:message>
  <wsdl:message name="GravaInformacoesEmpresaLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GravaInformacoesEmpresaLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="RetornarEmpresa">
      <wsdl:input message="tns:RetornarEmpresaSoapIn" />
      <wsdl:output message="tns:RetornarEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarFilial">
      <wsdl:input message="tns:RetornarFilialSoapIn" />
      <wsdl:output message="tns:RetornarFilialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <wsdl:input message="tns:LogarSoapIn" />
      <wsdl:output message="tns:LogarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravaInformacoesEmpresaLogin">
      <wsdl:input message="tns:GravaInformacoesEmpresaLoginSoapIn" />
      <wsdl:output message="tns:GravaInformacoesEmpresaLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarEmpresa">
      <soap:operation soapAction="http://tempuri.org/RetornarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarFilial">
      <soap:operation soapAction="http://tempuri.org/RetornarFilial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <soap:operation soapAction="http://tempuri.org/Logar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaInformacoesEmpresaLogin">
      <soap:operation soapAction="http://tempuri.org/GravaInformacoesEmpresaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornarEmpresa">
      <soap12:operation soapAction="http://tempuri.org/RetornarEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarFilial">
      <soap12:operation soapAction="http://tempuri.org/RetornarFilial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <soap12:operation soapAction="http://tempuri.org/Logar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaInformacoesEmpresaLogin">
      <soap12:operation soapAction="http://tempuri.org/GravaInformacoesEmpresaLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://www.grupologos.com.br/wss/WSS/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://www.grupologos.com.br/wss/WSS/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>