RoboDeEmails/Robo.Email.Notas.Solutions.Windows/Web References/br.com.roge.wslogos01/WSRoge.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="urn:rogeXlogos" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:rogeXlogos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:rogeXlogos">
      <s:element name="GravarConferencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="objConferencia" type="s0:ConferenciaNotaFiscal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenciaNotaFiscal">
        <s:sequence>
          <s:element minOccurs="0" name="produtos" type="s0:ArrayOfConferenciaNotaFiscalProdutoConferenciaNotaFiscalProduto" />
          <s:element minOccurs="0" name="eanvolumes" type="s0:ArrayOfConferenciaNotaFiscalEanVolumeConferenciaNotaFiscalEanVolume" />
          <s:element name="iddocumento" type="s:string" />
          <s:element minOccurs="0" name="datahorainsercao" type="s:dateTime" />
          <s:element name="datahora" type="s:string" />
          <s:element name="usuario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConferenciaNotaFiscalProdutoConferenciaNotaFiscalProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConferenciaNotaFiscalProduto" nillable="true" type="s0:ConferenciaNotaFiscalProduto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConferenciaNotaFiscalProduto">
        <s:sequence>
          <s:element name="iddocumento" type="s:string" />
          <s:element name="codigobarras" type="s:string" />
          <s:element name="quantidade" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConferenciaNotaFiscalEanVolumeConferenciaNotaFiscalEanVolume">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConferenciaNotaFiscalEanVolume" nillable="true" type="s0:ConferenciaNotaFiscalEanVolume" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConferenciaNotaFiscalEanVolume">
        <s:sequence>
          <s:element name="iddocumento" type="s:string" />
          <s:element name="codigobarrasvolume" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GravarConferenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="GravarConferenciaResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarDadosCDEAN">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="RetornarDadosCDEANResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="RetornarDadosCDEANResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GravarConferenciaSoapIn">
    <wsdl:part name="parameters" element="s0:GravarConferencia" />
  </wsdl:message>
  <wsdl:message name="GravarConferenciaSoapOut">
    <wsdl:part name="parameters" element="s0:GravarConferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarDadosCDEANSoapIn">
    <wsdl:part name="parameters" element="s0:RetornarDadosCDEAN" />
  </wsdl:message>
  <wsdl:message name="RetornarDadosCDEANSoapOut">
    <wsdl:part name="parameters" element="s0:RetornarDadosCDEANResponse" />
  </wsdl:message>
  <wsdl:portType name="WSLogosSoap">
    <wsdl:operation name="GravarConferencia">
      <wsdl:input message="s0:GravarConferenciaSoapIn" />
      <wsdl:output message="s0:GravarConferenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarDadosCDEAN">
      <wsdl:input message="s0:RetornarDadosCDEANSoapIn" />
      <wsdl:output message="s0:RetornarDadosCDEANSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLogosSoap" type="s0:WSLogosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarConferencia">
      <soap:operation soapAction="urn:rogeXlogos/WSRoge.WSLogos.GravarConferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarDadosCDEAN">
      <soap:operation soapAction="urn:rogeXlogos/WSRoge.WSLogos.RetornarDadosCDEAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLogos">
    <wsdl:port name="WSLogosSoap" binding="s0:WSLogosSoap">
      <soap:address location="http://wslogos01.roge.com.br:8086/csp/roge/WSRoge.WSLogos.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>